.meow__brand {
    background: linear-gradient(90deg, rgba(113, 61, 255, 0.007) 0%,
    rgba(113, 61, 255, 0.099) 50%, rgba(113, 61, 255, 0.009) 100%); 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    min-height: calc(70vh + 70rem);
    margin-top: -5rem;
    
}

.overlay-imageback {
    position: absolute;
    top: -360px;
    left: -675px;
    

}
.overlay-imageback img {
    opacity: 0.8; 
    width: 1520px;
    
    
}



.meow__brand_first-content {
    color: #fff;
    position: absolute;
    top: 1250px;
    left: 675px;
    font-family: var(--font-family);
}

.meow__brand_first-content h1 {
    position: absolute;
    top: -100px;
    left: -60px;
    font-size: 3.4em;


}

.meow__brand_first-content h2 {
    font-size: 1.75em;
    margin-bottom: 1.5em;
    position: absolute;
    left: 55px;
    
}

.meow__brand_first-content p {
    
    font-family: var(--font-family);
    position: relative;
    top: 70px;
    left: 55px;
    font-size: 1.2em;
    line-height: 1.5em;
    
}

.overlay-imagefoguete {
    position: absolute;
    top: -10px;
    left: -500px;
    

}
.overlay-imagefoguete img {
    opacity: 1; 
    width: 330px;
    height: 299;
    
}


/* ---------GAMING SECTOR -------*/
.meow__brand_second-content {
    color: #fff;
    position: absolute;
    top: 1650px;
    left: 675px;
    font-family: var(--font-family);
}


.meow__brand_second-content h2 {
    font-size: 1.75em;
    margin-bottom: 1.5em;
    position: absolute;
    left: -500px;
    
}

.meow__brand_second-content p {
    
    font-family: var(--font-family);
    position: relative;
    top: 70px;
    left: -500px;
    font-size: 1.2em;
    line-height: 1.5em;
    
}

.overlay-imagegame {
    position: absolute;
    top: 50px;
    left: 300px;
    

}
.overlay-imagegame img {
    opacity: 1; 
    width: 330px;
    height: 299;
    
}


/*----Staking sector ------ */

.meow__brand_third-content {
    color: #fff;
    position: absolute;
    top:  2100px;
    left: 675px;
    font-family: var(--font-family);
}


.meow__brand_third-content h2 {
    font-size: 1.75em;
    margin-bottom: 1.5em;
    position: absolute;
    left: 55px;
    
}

.meow__brand_third-content p {
    
    font-family: var(--font-family);
    position: relative;
    top: 70px;
    left: 55px;
    font-size: 1.2em;
    line-height: 1.5em;
    
}

.overlay-imagestaking {
    position: absolute;
    top:  -40px;
    left: -500px;
    

}
.overlay-imagestaking img {
    opacity: 1; 
    width: 330px;
    height: 299;
    
}



/*-----mobile   MAX 1441 PX-----------------------------------------
---------------------------------------------------
----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------*/

@media screen and (max-width: 1441px) {


    .meow_brand {
        display: flex;
       
        
       
       }
    .overlay-imageback {
        position: absolute;
        top: -590px;
        left: -380px;
        
    
    }
    .overlay-imageback img {
        opacity: 0.66; 
        width: 1250px;
        height: 1500px;
        
    
        
    }
    
    /* lauchpad sector */
    
    .meow__brand_first-content {
        color: #fff;
        position: absolute;
        top: 1200px;
        left: 300px;
        font-family: var(--font-family);
    }
    
    .meow__brand_first-content h1 {
        position: absolute;
        top: -100px;
        left: 75px;
        font-size: 2.3em;
    
    
    }
    
    .meow__brand_first-content h2 {
        font-size: 1.65em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 80px;
        top: -20px;
        
    }
    
    .meow__brand_first-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 50px;
        left: 80px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: left;
        white-space: pre-wrap;
        
    }
    
    .overlay-imagefoguete {
        position: absolute;
        top: 10px;
        left: -200px;
       
        
    
    }
    .overlay-imagefoguete img {
        opacity: 1; 
        width: 200px;
        height: 299;
        
    }

   
    
    
    /* ---------GAMING SECTOR -------*/
    
    .meow__brand_second-content {
        color: #fff;
        position: absolute;
        top: 1450px;
        left: 110px;
        font-family: var(--font-family);
    }
    

    
    .meow__brand_second-content h2 {
        font-size: 1.65em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 25px;
        top: -20px;
        
    }
    
    .meow__brand_second-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 45px;
        left: 25px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: left;
        white-space: pre-wrap;
        
    }
    
    .overlay-imagegame {
        position: absolute;
        top: 10px;
        left: 625px;
       
        
    
    }
    .overlay-imagegame img {
        opacity: 1; 
        width: 200px;
        height: 299;
        
    }

    
    
    /*----Staking sector ------ */
    
    .meow__brand_third-content {
        color: #fff;
        position: absolute;
        top: 1700px;
        left: 352px;
        font-family: var(--font-family);
    }
    
    
    .meow__brand_third-content h2 {
        font-size: 1.65em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 25px;
        top: -20px;
        
    }
    
    .meow__brand_third-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 70px;
        left: 25px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: left;
        white-space: pre-wrap;
        
    }
    
    .overlay-imagestaking {
        position: absolute;
        top: 10px;
        left: -280px;
       
        
    
    }
    .overlay-imagestaking img {
        opacity: 1; 
        width: 200px;
        height: 299;
        
    }


}

/*-----mobile   MAX 1025 PX-----------------------------------------
---------------------------------------------------
----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------*/

@media screen and (max-width: 1025px) {


    .meow_brand {
        display: flex;
       
        
       
       }
    .overlay-imageback {
        position: absolute;
        top: -590px;
        left: -380px;
        
    
    }
    .overlay-imageback img {
        opacity: 0.66; 
        width: 1250px;
        height: 1500px;
        
    
        
    }
    
    /* lauchpad sector */
    
    .meow__brand_first-content {
        color: #fff;
        position: absolute;
        top: 1175px;
        left: 300px;
        font-family: var(--font-family);
    }
    
    .meow__brand_first-content h1 {
        position: absolute;
        top: -100px;
        left: 65px;
        font-size: 2.3em;
    
    
    }
    
    .meow__brand_first-content h2 {
        font-size: 1.65em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 80px;
        top: -20px;
        
    }
    
    .meow__brand_first-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 50px;
        left: 80px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: left;
        white-space: pre-wrap;
        
    }
    
    .overlay-imagefoguete {
        position: absolute;
        top: 10px;
        left: -200px;
       
        
    
    }
    .overlay-imagefoguete img {
        opacity: 1; 
        width: 200px;
        height: 299;
        
    }

   
    
    
    /* ---------GAMING SECTOR -------*/
    
    .meow__brand_second-content {
        color: #fff;
        position: absolute;
        top: 1450px;
        left: 110px;
        font-family: var(--font-family);
    }
    

    
    .meow__brand_second-content h2 {
        font-size: 1.65em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 25px;
        top: -20px;
        
    }
    
    .meow__brand_second-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 45px;
        left: 25px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: left;
        white-space: pre-wrap;
        
    }
    
    .overlay-imagegame {
        position: absolute;
        top: 10px;
        left: 625px;
       
        
    
    }
    .overlay-imagegame img {
        opacity: 1; 
        width: 200px;
        height: 299;
        
    }

    
    
    /*----Staking sector ------ */
    
    .meow__brand_third-content {
        color: #fff;
        position: absolute;
        top: 1700px;
        left: 352px;
        font-family: var(--font-family);
    }
    
    
    .meow__brand_third-content h2 {
        font-size: 1.65em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 25px;
        top: -20px;
        
    }
    
    .meow__brand_third-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 70px;
        left: 25px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: left;
        white-space: pre-wrap;
        
    }
    
    .overlay-imagestaking {
        position: absolute;
        top: 10px;
        left: -280px;
       
        
    
    }
    .overlay-imagestaking img {
        opacity: 1; 
        width: 200px;
        height: 299;
        
    }


}

/*-----mobile   MAX 769 PX-----------------------------------------
---------------------------------------------------
----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------*/

@media screen and (max-width: 769px) {


    .meow_brand {
        display: flex;
        
       
       }
    .overlay-imageback {
        position: absolute;
        top: -520px;
        left: -600px;
        
    
    }
    .overlay-imageback img {
        opacity: 0.7; 
        width: 1250px;
        height: 1300px;
        
    
        
    }
    
    /* lauchpad sector */
    
    .meow__brand_first-content {
        color: #fff;
        position: absolute;
        top: 1150px;
        left: 280px;
        font-family: var(--font-family);
    }
    
    .meow__brand_first-content h1 {
        position: absolute;
        top: -100px;
        left: -5px;
        font-size: 3em;
        width: 1000px;
    
    
    }
    
    .meow__brand_first-content h2 {
        font-size: 2em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 25px;
        top: -5px;
        
    }
    
    .meow__brand_first-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 70px;
        left: 25px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: left;
        white-space: pre-wrap;
        width: 1000px;
        
    }
    
    .overlay-imagefoguete {
        position: absolute;
        top: 60px;
        left: -200px;
       
        
    
    }
    .overlay-imagefoguete img {
        opacity: 1; 
        width: 200px;
        height: 299;
        
    }

   
    
    
    /* ---------GAMING SECTOR -------*/
    
    .meow__brand_second-content {
        color: #fff;
        position: absolute;
        top: 1420px;
        left: 10px;
        font-family: var(--font-family);
    }
    
    
    .meow__brand_second-content h2 {
        font-size: 2em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 80px;
        top: -20px;
        
    }
    
    .meow__brand_second-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 60px;
        left: 80px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: left;
        white-space: pre-wrap;
        
    }
    
    .overlay-imagegame {
        position: absolute;
        top: 10px;
        left: 685px;
       
        
    
    }
    .overlay-imagegame img {
        opacity: 1; 
        width: 200px;
        height: 299;
        
    }

    
    
    /*----Staking sector ------ */
    
    .meow__brand_third-content {
        color: #fff;
        position: absolute;
        top: 1650px;
        left: 280px;
    }
    
    
    
    .meow__brand_third-content h2 {
        font-size: 2em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 25px;
        top: -5px;
        
    }
    
    .meow__brand_third-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 70px;
        left: 25px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: left;
        white-space: pre-wrap;
        width: 1000px;
        
        
    }
    
    .overlay-imagestaking {
        position: absolute;
        top: 10px;
        left: -220px;
       
        
    
    }
    .overlay-imagestaking img {
        opacity: 1; 
        width: 220px;
        height: 299;
        
    }


}

/*-----mobile   MAX 425 PX-----------------------------------------
---------------------------------------------------
----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------*/

@media screen and (max-width: 500px) {


    .meow__brand {
        background: linear-gradient(90deg, rgba(113, 61, 255, 0.007) 0%,
        rgba(113, 61, 255, 0.099) 50%, rgba(113, 61, 255, 0.009) 100%); 
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        min-height: calc(70vh + 72rem);
        margin-top: -10rem;
        
    }
    .overlay-imageback {
        position: absolute;
        top: -600px;
        left: -600px;
        
    
    }
    .overlay-imageback img {
        opacity: 0.7; 
        width: 1250px;
        height: 1775px;
        
    
        
    }
    
    /* lauchpad sector */
    
    .meow__brand_first-content {
        color: #fff;
        position: absolute;
        top: 950px;
        left: 1px;
        font-family: var(--font-family);
    }
    
    .meow__brand_first-content h1 {
        position: absolute;
        top: -100px;
        left: 55px;
        font-size: 2.4em;
        width: 1000px;
    
    
    }
    
    .meow__brand_first-content h2 {
        font-size: 2em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 100px;
        top: -5px;
        
    }
    
    .meow__brand_first-content p {
        
        font-family: var(--font-family);
        position: absolute;
        top: 70px;
        left: 70px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: center;
        white-space: pre-wrap;
        width: 225px;
        
    }
    
    .overlay-imagefoguete {
        position: absolute;
        top: 355px;
        left: 225px;
       
        
    
    }
    .overlay-imagefoguete img {
        opacity: 1; 
        width: 150px;
        height: 299;
        
    }

   
    
    
    /* ---------GAMING SECTOR -------*/
    
    .meow__brand_second-content {
        color: #fff;
        position: absolute;
        top: 1450px;
        left: -46px;
        font-family: var(--font-family);
    }
    
    
    .meow__brand_second-content h2 {
        font-size: 2em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 160px;
        top: -20px;
        
    }
    
    .meow__brand_second-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 95px;
        left: 120px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: center;
        white-space: pre-wrap;
        width: 225px;
        
    }
    
    .overlay-imagegame {
        position: absolute;
        top: 330px;
        left: 275px;
       
        
    
    }
    .overlay-imagegame img {
        opacity: 1; 
        width: 150px;
        height: 299;
        
    }

    
    
    /*----Staking sector ------ */
    
    .meow__brand_third-content {
        color: #fff;
        position: absolute;
        top: 1900px;
        left: 10px;
        font-family: var(--font-family);
    }
    
    
    .meow__brand_third-content h2 {
        font-size: 2em;
        margin-bottom: 1.3em;
        position: absolute;
        left: 110px;
        top: 35px;
        
    }
    
    .meow__brand_third-content p {
        
        font-family: var(--font-family);
        position: relative;
        top: 155px;
        left: 70px;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: center;
        white-space: pre-wrap;
        width: 225px;
        
    }
    
    .overlay-imagestaking {
        position: absolute;
        top: 480px;
        left: 225px;
       
        
    
    }
    .overlay-imagestaking img {
        opacity: 1; 
        width: 150px;
        height: 299;
        
    }



}












