.meow__preesale {
    display: flex;


}


.meow__preesale_container{
    color: #fff;
    font-family: var(--font-family);
    text-align: center;
    position: absolute;
    top: 2565px;
    left: 375px;

}

.meow__preesale_container h1 {
    font-size: 2.5em;
    margin-bottom: 0.85em;
}

.meow__preesale_container p {
    font-size: 1em;
    margin-bottom: 4em;
    font-weight: 250;


}

.meow__preesale_buttons {
    position: absolute;
}

.meow__preesale_buttons_waitlist {
    width: 143px;
    height: 38px;
    margin-right: 2em;
    background-color: #686DF1;
    color: #ffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.meow__preesale_buttons_htbuy {
    width: 143px;
    height: 38px;
    background-color: #ffffff26;
    color: #ffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}






/*--------------max 426 px----------------
------------------------------------------
------------------------------------------
------------------------------------------
------------------------------------------
------------------------------------------
------------------------------------------*/

 @media screen and (max-width: 500px) {
    .meow__preesale {
        display: flex;
    
    
    }
    
    
    .meow__preesale_container{
        color: #fff;
        font-family: var(--font-family);
        text-align: center;
        margin-top: 4rem;
        margin-left: -22rem;
    
    }
    
    .meow__preesale_container h1 {
        font-size: 1.8em;
        margin-bottom: 0.85em;
        margin-left: 40px;
    }
    
    .meow__preesale_container p {
        font-size: 1em;
        margin-bottom: 4em;
        font-weight: 250;
        width: 250px;
        margin-left: 55px;
        
    
    
    }
    
    .meow__preesale_buttons {
        position: absolute;
        margin-left: 50px;
        
    }
    
    .meow__preesale_buttons_waitlist {
        width: 143px;
        height: 38px;
        margin-right: 2em;
        background-color: #686DF1;
        color: #ffff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        position: absolute;
        left: 28px;
    
    }
    
    .meow__preesale_buttons_htbuy {
        width: 143px;
        height: 38px;
        background-color: #ffffff26;
        color: #ffff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        position: absolute;
        left: 185px;
    
    }
    
     





 }