.meow__tokenomics {
    font-size: 2em;
    color: #fff;
    background: linear-gradient(90deg, rgba(113, 61, 255, 0.055) 0%,
     rgba(113, 61, 255, 0.171) 50%, rgba(113, 61, 255, 0.075) 100%); /* Cor de fundo */
    padding: 20px;
    margin-top: 55rem;
    margin-left: -0.4rem;
    width: 100%; /* Ocupa toda a largura disponível */
    box-sizing: border-box; /* Inclui padding e border no cálculo do tamanho */
    display: flex; /* Usado para centralizar conteúdo verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: calc(100vh + 100px); /* Aumente a altura do fundo */
    
  }
  
  .meow__tokenomics_container {
    position: relative;
    top: -15rem;
    color: #ffff; /* Ajusta a cor do texto */
    max-width: 800px; /* Define uma largura máxima para o container */
    width: 100%; /* Garante que o container ocupe toda a largura disponível */
    padding: 20px;
    box-sizing: border-box; /* Inclui padding e border no cálculo do tamanho */
  }
  
  .meow__tokenomics_container h1 {
    font-family: var(--font-family);
    font-size: 2.4rem;
    text-align: center; /* Centraliza o texto */
    position: absolute;
    top: -4rem;
    left: 16rem;
  }
  
  .meow__tokenomics_container h3 {
    position: absolute;
    text-align: left;
    left: 36rem;
    top: 5rem;
    font-family: var(--font-family);
    font-size: 0.8em;
    line-height: 2.1em;
    font-weight: 650;
    width: 15rem;

  }
  
  .overlay-imagechart {
    margin-top: 20px; /* Espaçamento acima da imagem */
    text-align: center; /* Centraliza a imagem */
  }
  
  .overlay-imagechart img {
    width: 69rem;
    position: absolute;
    left: -30rem;
    top: -1rem;
    height: auto;
  }
  
  /*------------------ Até 500px -----------------------------
  ------------------------------------------------------------
  -------------------------------------------------------------
  -------------------------------------------------------------
  -------------------------------------------------------- */
  @media screen and (max-width: 500px) {
    .meow__tokenomics {
        font-size: 2em;
        color: #fff;
        background: linear-gradient(90deg, rgba(113, 61, 255, 0.055) 0%,
         rgba(113, 61, 255, 0.171) 50%, rgba(113, 61, 255, 0.075) 100%); /* Cor de fundo */
        padding: 20px;
        margin-top: 45rem;
        margin-left: -0.2rem;
        width: 100%; /* Ocupa toda a largura disponível */
        box-sizing: border-box; /* Inclui padding e border no cálculo do tamanho */
        display: flex; /* Usado para centralizar conteúdo verticalmente */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        min-height: calc(70vh + 5rem); /* Aumente a altura do fundo */
        
      }
  
      .meow__tokenomics_container {
        position: relative;
        top: -12rem;
        left: -11.5rem;
        color: #ffff; /* Ajusta a cor do texto */
        max-width: 800px; /* Define uma largura máxima para o container */
        width: 100%; /* Garante que o container ocupe toda a largura disponível */
        padding: 20px;
        box-sizing: border-box; /* Inclui padding e border no cálculo do tamanho */
      }
      
      .meow__tokenomics_container h1 {
        font-family: var(--font-family);
        font-size: 2.4rem;
        text-align: center; /* Centraliza o texto */
        position: absolute;
        top: -4rem;
        left: 16rem;
      }
      
      .meow__tokenomics_container h3 {
        position: absolute;
        text-align: left;
        left: 16.5rem;
        top: 5rem;
        font-family: var(--font-family);
        font-size: 0.8em;
        line-height: 2.1em;
        font-weight: 650;
        width: 15rem;
    
      }
  
    .overlay-imagechart {
      display: none; /* Esconde a imagem em telas pequenas */
    }
  
    .overlay-imagechart img {
      width: 100%;
      max-width: 300px;
    }
  }
  