.meow__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-family: var(--font-family);
    padding: 2rem 6rem;

}

.meow__navbar_logo{
    display: flex;
}

.meow__navbar_logo img {
    margin-top: -1.5rem;
    margin-left: -95px;
    width: 275px;
}

.meow__navbar_preesale button {
    position: absolute;
    left: 42rem;
    top: 5rem;
    font-family: var(--font-family);
    width: 163px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.103);
    color: rgba(255, 255, 255, 0.774);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.meow__navbar_whitepaper_wallet{
    color: #fff;
    font-family: var(--font-family);
    font-size: 0.9rem;
}

.meow__navbar_whitepaper_wallet button {
    margin-left: 1.5rem;
    font-family: var(--font-family);
    width: 163px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.103);
    color: rgba(255, 255, 255, 0.774);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.meow__navbar-menu {
    display: none;

}
.meow__navbar-menu svg {
    cursor: pointer;

}

.meow__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: #fff;
    text-align: end;
    background-color: linear-gradient(90deg, rgba(113, 61, 255, 0.055) 0%,
     rgba(113, 61, 255, 0.171) 50%, rgba(113, 61, 255, 0.075) 100%);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
    
}

/*---------max 500px -----------------------------------
--------------------------------------------------------
-------------------------------------------------------
-------------------------------------------------------
-----------------------------------------------------*/


@media screen and (max-width: 500px) {
    .meow__navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        font-family: var(--font-family);
        padding: 2rem 6rem;
    
    }
    
    .meow__navbar_logo{
        display: flex;
    }
    
    .meow__navbar_logo img {
        margin-top: -1.5rem;
        margin-left: -95px;
        width: 155px;
    }
    
    .meow__navbar_preesale button {
        display: none;
        position: absolute;
        left: 42rem;
        top: 5rem;
        font-family: var(--font-family);
        width: 163px;
        height: 33px;
        background-color: rgba(255, 255, 255, 0.103);
        color: rgba(255, 255, 255, 0.774);
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
    .meow__navbar_whitepaper_wallet{
        color: #fff;
        font-family: var(--font-family);
        font-size: 0.9rem;
    }

    .meow__navbar_whitepaper_wallet a {
        display: none;

    }
    
    .meow__navbar_whitepaper_wallet button {
        
        margin-left: -0.1rem;
        font-family: var(--font-family);
        width: 123px;
        height: 33px;
        background-color: rgba(255, 255, 255, 0.103);
        color: rgba(255, 255, 255, 0.774);
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    
    }
    
    .meow__navbar-menu {
        margin-left: 2.5rem;
        display: flex;
    
    }

}