.meow__footer {
    display: flex;
    color: #fff;
    border: 1px solid transparent;
    margin-top: 200px;
    width: auto;
    height: 40rem;
    background: linear-gradient(90deg, rgba(155, 150, 176, 0.010) 100%,
     rgba(0, 0, 0, 1) 100%, rgba(210, 208, 211, 0.075) 100%); /* Cor de fundo */
    flex-direction: column;

}

.meow__footer-container {
    display: flex;
    justify-content: space-between;
}


/* logo */
.meow__footer-logo {
    margin-top: 0rem;

}

/* text Experience the next level of memes   */
.meow__footer-logo h3 {
    font-size: var(--font-family);
    font-weight: 400;
    margin-left: 4rem;
    color: rgba(255, 255, 255, 0.685);
}

/* -----meow verse sector --------*/
.meow__footer_firstcolun {
    margin-left: 73rem;
    margin-top: -5.1rem;
    font-family: var(--font-family);
}

.meow__footer_firstcolun h4 {
    margin-bottom: 1.3rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.74);
}
.meow__footer_firstcolun p  {
    margin-bottom: 1.3rem;
    font-weight: 400;
    color: #9B96B0
}


/* -------- about meowl sector ------------*/
.meow__footer_secondcolun {
    margin-left: 87rem;
    margin-top: -7.5rem;
    font-family: var(--font-family);
    color:  rgba(255, 255, 255, 0.74);;
}

.meow__footer_secondcolun h4 {
    margin-bottom: 1.3rem;
    font-weight: 400;
}
.meow__footer_secondcolun p  {
    margin-bottom: 1.3rem;
    font-weight: 400;
    color: #9B96B0
}

.meow__footer_division {
    position: relative;
    top: 5rem;
    margin-left: 12rem;

}

/* -------copy sector --------*/

.meow__footer_copyright {
    display: flex;
    margin-top: 12rem;
    margin-left: 2rem;
}

.meow__footer_copyright p{
    color: #9B96B0;
    
}

.meow__footer_sociallist {
    display: flex;
    list-style: none;
    margin-left: 68rem;
    margin-top: -0.89rem;

}
.meow__footer_sociallist li{
 margin:  1rem;

}

/* tela até 500 px ---------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
--------------------------------------*/


@media screen and (max-width: 500px) {
    .meow__footer {
        display: flex;
        color: #fff;
        border: 1px solid transparent;
        margin-top: 200px;
        width: auto;
        height: 58rem;
        background: linear-gradient(90deg, rgba(155, 150, 176, 0.010) 100%,
         rgba(0, 0, 0, 1) 100%, rgba(210, 208, 211, 0.075) 100%); /* Cor de fundo */
        flex-direction: column;
    
    }
    /* logo */
    .meow__footer-logo {
        margin-top: 0rem;
    }


    /* logo ---- */
    .meow__footer-logo img{
        width: 200px;
    }


    /* text Experience the next level of memes   */
    .meow__footer-logo h3 {
        font-size: var(--font-family);
        font-size: 0.9rem;
        font-weight: 400;
        margin-left: 12rem;
        margin-top: -3.5rem;
        color: rgba(255, 255, 255, 0.685);
    }

    /* -----meow verse sector --------*/
    .meow__footer_firstcolun {
        margin-left: 3.7rem;
        margin-top: 2.1rem;
        font-family: var(--font-family);
    }

    .meow__footer_firstcolun h4 {
        margin-bottom: 1.3rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.74);
    }
    .meow__footer_firstcolun p  {
        margin-bottom: 1.3rem;
        font-weight: 400;
        color: #9B96B0
    }


    /* -------- about meowl sector ------------*/
    .meow__footer_secondcolun {
        margin-left: 3.7rem;
        margin-top: 2.1rem;
        font-family: var(--font-family);
        color:  rgba(255, 255, 255, 0.74);;
    }

    .meow__footer_secondcolun h4 {
        margin-bottom: 1.3rem;
        font-weight: 400;
    }
    .meow__footer_secondcolun p  {
        margin-bottom: 1.3rem;
        font-weight: 400;
        color: #9B96B0
    }

    .meow__footer_division {
        position: relative;
        top: 5rem;
        margin-left: 12rem;

    }

    /* -------copy sector --------*/

    .meow__footer_copyright {
        display: flex;
        margin-top: 1rem;
        margin-left: 2rem;
    
    }

    .meow__footer_copyright p{
        color: #9B96B0;
        
                
    }

    .meow__footer_sociallist {
        display: flex;
        list-style: none;
        margin-top: -0.9rem;
        margin-left: 2rem;

    }
    .meow__footer_sociallist li{
    margin:  1rem;

    }
 }